<div class="col-lg-4 col-xs-6">
  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse navHeaderCollapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Why Virragh</a></li>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Mobile</a></li>
    </ul>
  </div>
</div>
<div class="visible-xs">
  <br>
</div>
<div class="col-lg-offset-1 col-lg-5 text-center-xs">
  <form action="/login" enctype="application/x-www-form-urlencoded" method="post" class="cstm-form">
    <input type="text" name="userName" class="form-control cstm-form-control" placeholder="Username" required>
    {{#if loginError}}
      <input type="password" name="password" class="form-control cstm-form-control" placeholder="Password" data-container="body" data-toggle="popover" data-content="{{errorMessage}}" data-placement= "bottom" required>
        <!--<span class="error-message">Please try again.</span>-->
    {{else}}
      <input type="password" name="password" class="form-control cstm-form-control" placeholder="Password" required>
    {{/if}}
    <input type="submit" value="LOGIN" class="btn cstm-btn1">
  </form>
</div>

{{#if loginError}}
    <script>
        $(document).ready(function(){
            // $('[data-toggle="popover"]').popover({container: 'body'})
            $('[data-toggle="popover"]').popover('show')
        });

    </script>
{{/if}}
