<div class="col-lg-offset-7 col-lg-1 col-xs-12">
  <div class="text-center">
    <img src="/img/avtar.png" class="img-responsive avtar">
    <p>{{userName}}</p>
  </div>
</div>
<div class="col-lg-2 col-xs-12 text-center-xs">
  <div class="dropdown">
    <a href="/" class="btn cstm-btn1" role="button" aria-expanded="false">Logout</a>
  </div>
  <div class="visible-xs">
    <br>
  </div>
</div>
